.contenedor-informe{
    padding-right: 30px;
    padding-left: 30px;
}
.contenedor-seccion{
    border: 3px double black;
}
.logo-informe{
    width: 100%;
    height: 14em;
}
.titulo{
    justify-content: center;
}
.subtitulos{
    justify-content: space-between;
    text-align: center;
}
.lista-elementos{

}
.elemento{
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}