.negrita {
    font-weight: bold;
}
.faIconMarginRight {
    margin-right: 5px;
}
.email {
    text-transform: lowercase !important;
}
.campoVivo {
    position: relative;
}
.fotoPersona {
    position: absolute;
    right: 5%;
}