.faIconButton {
    margin-right: 5px;
}
.loginAlert {
    text-align: center;
    font-size: 1em;
}
.loginAlertSuccess {
    color: green!important;
}

#noPaddingRigth{
 padding-right: 0;
}

#noPaddingLeft{
    padding-left: 0;
   }